H1 {
    text-align: center;
    text-decoration: underline;
    /* border-top: 505px; */
    padding: 15px;
    /* border-style: solid; */
}

/* .det {
    text-align: center;
    display: block;
    align-items: center;
    border-color: cadetblue;
    border-style: solid;
    width: 50%;
} */